* {
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2B4570;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  padding: 50px;
  width: 100%;
}

h1 {
  letter-spacing: 4px;
  text-align: center;
  text-shadow: 1px 6px black;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 100%;
  width: 800px;
}

.project {
  align-items: center;
  background-color: slategrey;
  background-position: center;
  background-size: cover;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 6px black;
  display: flex;
  justify-content: center;
  height: 200px;
  margin: 3%;
  width: 44%;
}

.project a {
  color: white;
  text-decoration: none;
}

.project a:hover {
  color: purple;
}

.project-title {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

#favorite-animal {
  background-image: url("https://i.pinimg.com/originals/ff/3a/10/ff3a10d32dcc459a8e1daebbd04bd8f0.jpg");
}

#encryptor {
  background-image: url("https://images.pexels.com/photos/1089438/pexels-photo-1089438.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

#clock {
  background-image: url("https://images.pexels.com/photos/100733/pexels-photo-100733.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

@media screen and (max-width: 680px) {
  .project {
    width: 100%;
  }
}